datacenter = "dc1"
namespace  = "default"

app_name = "cerveceria-stammtisch"

wordpress_image = "ghcr.io/eldaroo/cerveceriastammtisch-wordpress:latest"
mariadb_image   = "ghcr.io/eldaroo/cerveceriastammtisch-mariadb:latest"

db_password = "cambiar-esto-por-un-secreto-largo"

db_name = "cerveceria"
db_user = "cerveceria_wp"
